@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

html,
body,
#root,
.app{
  height:100%;
  width:100%;
  font-family:"Rubik", sans-serif;
}

/* Global CSS file or within <style> tag */
.card-media {
  transition: transform 0.8s;
  overflow: hidden; /* Hide any content that might overlap */
}

.card-media:hover {
  transform: scale(1.5);
}
